<html>
<head>
    <title>Página Home</title>
    <style>
        body{
            background-color: rgb(94, 94, 247); 
        }

        
</style>

</head>
<body>
    <h1>Formulário de Cadastro em banco de dados MongoDB (NoSQL)</h1>
    <hr/>